<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>geography test</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h3>Do you know whitch cities are on the photos?</h3>
    <table>
        <thead>
            <tr>
            <td>Photo</td>
                <td></td>
                <td></td>
            <td>Your solution</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h5>01</h5>
                    <img src="../assets/img/01_drzava.jpg">
                    <h5>02</h5>
                    <img src="../assets/img/02_drzava.jpg">
                    <h5>03</h5>
                    <img src="../assets/img/03_drzava.jpg">
                </td>
                <td>
                    <h5>04</h5>
                    <img src="../assets/img/04_drzava.jpg">
                    <h5>05</h5>
                    <img src="../assets/img/05_drzava.jpg">
                    <h5>06</h5>
                    <img src="../assets/img/06_drzava.jpg">
                </td>
                <td>
                    <h5>07</h5>
                    <img src="../assets/img/07_drzava.jpg">
                    <h5>08</h5>
                    <img src="../assets/img/08_drzava.jpg">
                    <h5>09</h5>
                    <img src="../assets/img/09_drzava.jpg">
                </td>
                <td style="vertical-align:top">
                    <form method="post" action="/rezultat">
                        <br>
                        <br>
                        <br>
                        <br>
                        <input placeholder="01_city" name="01_vnos">
                        <br>
                        <input placeholder="02_city" name="02_vnos">
                        <br>
                        <input placeholder="03_city" name="03_vnos">
                        <br>
                        <input placeholder="04_city" name="04_vnos">
                        <br>
                        <input placeholder="05_city" name="05_vnos">
                        <br>
                        <input placeholder="06_city" name="06_vnos">
                        <br>
                        <input placeholder="07_city" name="07_vnos">
                        <br>
                        <input placeholder="08_city" name="08_vnos">
                        <br>
                        <input placeholder="09_city" name="09_vnos">
                        <br>
                        <input placeholder="10_city" name="10_vnos">
                        <br>
                        <br>
                        <button type="submit">Submit</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>